@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #0B0B0B;
}

* {
    cursor: none;
}

:root::-webkit-scrollbar {
    display: none;
}

#bg-exclusion {
    background-color: white;
    background-blend-mode: exclusion;
}